---
import { Badge } from "@/components/ui/badge";
import { formatDate } from "@/lib/utils";
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

type Props = CollectionEntry<"blog">;

const post = Astro.props;
---

<article class="group">
  <a href={`/blog/${post.slug}/`} class="grid md:grid-cols-[1fr,1.5fr] gap-6">
    <div
      class="relative overflow-hidden rounded-lg group-hover:-translate-y-2 group-hover:shadow-xl transition duration-500"
    >
      <Image
        loading="eager"
        class="w-full h-[220px] object-cover rounded-xl overflow-hidden"
        width={720}
        height={360}
        src={post.data.cover}
        alt="descriptive text"
        transition:name={`img-${post.slug}`}
      />
    </div>
    <div class="flex flex-col h-full">
      <div class="flex items-center gap-4">
        <time class="text-neutral-600 capitalize" transition:name={"date-" + post.slug}
          >{formatDate(post.data.pubDate)}</time
        >
        <span class="px-2 text-neutral-600">/</span>
        <Badge
          radius="md"
          className="capitalize"
          transition:name={"badge-cat-" + post.slug}
        >
          {post.data.category}
        </Badge>
      </div>
      <h3
        class="uppercase text-2xl font-semibold leading-tight group-hover:text-orange-400 transition-all duration-500 pt-4"
        transition:name={"title-" + post.slug}
      >
        {post.data.title}
      </h3>

      <p class="text-neutral-600 line-clamp-3 text-justify mt-auto pt-4">
        {post.data.description}
      </p>
    </div>
  </a>
</article>
