---
import { Badge } from "@/components/ui/badge";
import { formatDate } from "@/lib/utils";
import { Image } from "astro:assets";

import type { CollectionEntry } from "astro:content";

type Props = CollectionEntry<"blog">;

const slug = Astro.props.slug;
const {pubDate, updatedDate, category, title } =
  Astro.props.data;
---

<article class="group ml-[5%] text-white">
  
    <div class="flex flex-col h-full">
        
      <div class="flex items-center gap-4">
        <time class="capitalize font-semibold"
        transition:name={"date-" + slug}
          >{formatDate(pubDate)}</time
        >
     <a href={`/blog/category/${category}/`}>
        <Badge
          variant="header"
          radius="md"
          className="capitalize"
          transition:name={"badge-cat-" + slug}
        >
          {category}
        </Badge>
    </a>
      </div>
    </div>

    <a href={`/blog/${slug}/`} class="grid md:grid-cols-[2.7fr,1.5fr] gap-6"> 
      <h1
        class="text-4xl uppercase font-semibold leading-tight pt-4"
        transition:name={"title-" + slug}
      >
        {title}
      </h1>
    </a>
    
  
</article>
